name: discrete_slider
description: "Flutter discrete slider package project."
version: 1.0.1

homepage: https://github.com/oddbuddy/flutter_discrete_slider

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter: